/* Footer */
  .footer {
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
    border-top: 2px solid var(--third-color);
  }
  
  .footer a {
    color: #ff9800;
    text-decoration: none;
  }
  