
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  color-scheme: light dark;
  --main-color: #e6e6e6;
  --second-color: #1a1a1a;
  --third-color: #bd0000;
  --last-color: #D4AA7D;

  --hovered-main-color: #dadada;
  --hovered-second-color: #202020;
  --hovered-third-color: #a00303;
  --hovered-last-color: #c09b73;

  background-color: var(--main-color);
  color: var(--second-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {

  color-scheme: dark;

  --main-color: #1a1a1a;
  --second-color: #e6e6e6;
  --third-color: #bd0000;
  --last-color: #D4AA7D;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--second-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: border-color 0.25s, transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #e6e6e6;
    --second-color: #1a1a1a;
    --third-color: #bd0000;
    --last-color: #D4AA7D;
  }
}
