 .home-container {
    text-align: center;
  }
  
  .introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 2rem;
    background: linear-gradient(to right, var(--third-color), var(--main-color));
    color: white;
  }
  
  .introduction-text {
    max-width: 500px;
    text-align: left;
  }

  .home-research {
    margin-top: 30px;
  }
  
  /* About Section */
  .about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  .about h2 {
    margin-bottom: 2rem;
  }

  .about p {
    margin: 0 5rem 1rem 5rem;
  }
  
  /* Features Section */
  .features {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: linear-gradient(to left, var(--third-color), var(--main-color));
    color: var(--second-color);
  }
  
  .features-grid {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .feature {
    max-width: 300px;
    text-align: left;
  }
  
  .feature h3 {
    color: var(--second-color);
  }
  