.movies-page {
  padding: 20px;
  background-color: var(--main-color); 
}

.movies-page h1 {
  text-align: center;
  margin-bottom: 2em;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.movie-card {
  background-color: var(--second-color);
  color: var(--third-color);
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

button {
  background-color: var(--main-color);
  border: none;
  color: var(--second-color);
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--last-color);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #32213A;
  background-color: var(--second-color);
  color: var(--main-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #555;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--third-color);
}
